src/main/resources/wsdl/911-soa.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://avl.webservices.server.emergencies.tsoluciones.com.ar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AVLServiceService" targetNamespace="http://avl.webservices.server.emergencies.tsoluciones.com.ar">
	<wsdl:types>
		<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://avl.webservices.server.emergencies.tsoluciones.com.ar" elementFormDefault="unqualified" targetNamespace="http://avl.webservices.server.emergencies.tsoluciones.com.ar" version="1.0">
			<xsd:element name="sendPosition">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="qualified" minOccurs="0" name="in0" type="xs:string"/>
						<xsd:element form="qualified" minOccurs="0" name="in1" type="xs:int"/>
						<xsd:element form="qualified" minOccurs="0" name="in2" type="xs:dateTime"/>
						<xsd:element form="qualified" minOccurs="0" name="in3" type="xs:string"/>
						<xsd:element form="qualified" minOccurs="0" name="in4" type="xs:string"/>
						<xsd:element form="qualified" minOccurs="0" name="in5" type="xs:int"/>
						<xsd:element form="qualified" minOccurs="0" name="in6" type="xs:short"/>
						<xsd:element form="qualified" minOccurs="0" name="in7" type="xs:short"/>
						<xsd:element form="qualified" minOccurs="0" name="in8" type="xs:short"/>
						<xsd:element form="qualified" minOccurs="0" name="in9" type="xs:string"/>
						<xsd:element form="qualified" minOccurs="0" name="in10" type="xs:short"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendPositionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="return" type="tns:status"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="status">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="errorCode" type="xs:short"/>
					<xsd:element minOccurs="0" name="errorMsg" type="xs:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendPositionResponse">
		<wsdl:part element="tns:sendPositionResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPosition">
		<wsdl:part element="tns:sendPosition" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AVLService">
		<wsdl:operation name="sendPosition">
			<wsdl:input message="tns:sendPosition" name="sendPosition">
			</wsdl:input>
			<wsdl:output message="tns:sendPositionResponse" name="sendPositionResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AVLServiceServiceSoapBinding" type="tns:AVLService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendPosition">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="sendPosition">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendPositionResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AVLServiceService">
		<wsdl:port binding="tns:AVLServiceServiceSoapBinding" name="AVLServicePort">
			<soap:address location="http://localhost:8082/SOA/services/avlservice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>