src/main/resources/wsdl/LocationConsumer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.motorola.com/LocationServer/MapServer" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://schemas.motorola.com/LocationServer/MapServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://schemas.motorola.com/LocationServer/MapServer">
			<s:element name="mls_NewData">
				<s:complexType />
			</s:element>
			<s:element name="mls_NewDataResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="mls_NewDataResult" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="mls_NewDataDeviceNames">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="deviceNames" type="tns:ArrayOfString" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="mls_NewDataDeviceNamesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="mls_NewDataDeviceNamesResult" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="mls_NewDataDeviceRecords">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="param-1" type="tns:ArrayOfDeviceRecord" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfDeviceRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="DeviceRecord" nillable="true" type="tns:DeviceRecord" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="DeviceRecord">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DeviceName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NetworkDeviceID" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DeviceState" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="UpdateTime" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Altitude" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Speed" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="Bearing" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="AgeBit" type="s:unsignedByte" />
					<s:element minOccurs="0" maxOccurs="1" name="OperationalState" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TriggerState" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GpsState" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CellName" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PresenceState" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GpsTime" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="HorizontalAccuracy" type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="AltitudeAccuracy" type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="HorSpeedAccuracy" type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="VerSpeedAccuracy" type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="HeadingAccuracy" type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="mls_NewDataDeviceRecordsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="mls_NewDataDeviceRecordsResult" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="oam_ReportError">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="oam_ReportErrorResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="oam_ReportErrorResult" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="oam_ConfirmReconnect">
				<s:complexType />
			</s:element>
			<s:element name="oam_ConfirmReconnectResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="oam_ConfirmReconnectResult" type="s:boolean" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="mls_NewDataSoapIn">
		<wsdl:part name="parameters" element="tns:mls_NewData" />
	</wsdl:message>
	<wsdl:message name="mls_NewDataSoapOut">
		<wsdl:part name="parameters" element="tns:mls_NewDataResponse" />
	</wsdl:message>
	<wsdl:message name="mls_NewDataDeviceNamesSoapIn">
		<wsdl:part name="parameters" element="tns:mls_NewDataDeviceNames" />
	</wsdl:message>
	<wsdl:message name="mls_NewDataDeviceNamesSoapOut">
		<wsdl:part name="parameters" element="tns:mls_NewDataDeviceNamesResponse" />
	</wsdl:message>
	<wsdl:message name="mls_NewDataDeviceRecordsSoapIn">
		<wsdl:part name="parameters" element="tns:mls_NewDataDeviceRecords" />
	</wsdl:message>
	<wsdl:message name="mls_NewDataDeviceRecordsSoapOut">
		<wsdl:part name="parameters" element="tns:mls_NewDataDeviceRecordsResponse" />
	</wsdl:message>
	<wsdl:message name="oam_ReportErrorSoapIn">
		<wsdl:part name="parameters" element="tns:oam_ReportError" />
	</wsdl:message>
	<wsdl:message name="oam_ReportErrorSoapOut">
		<wsdl:part name="parameters" element="tns:oam_ReportErrorResponse" />
	</wsdl:message>
	<wsdl:message name="oam_ConfirmReconnectSoapIn">
		<wsdl:part name="parameters" element="tns:oam_ConfirmReconnect" />
	</wsdl:message>
	<wsdl:message name="oam_ConfirmReconnectSoapOut">
		<wsdl:part name="parameters" element="tns:oam_ConfirmReconnectResponse" />
	</wsdl:message>
	<wsdl:portType name="MapServicesSoap">
		<wsdl:operation name="mls_NewData">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Notify that new location data is available for one or more devices.</documentation>
			<wsdl:input message="tns:mls_NewDataSoapIn" />
			<wsdl:output message="tns:mls_NewDataSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="mls_NewDataDeviceNames">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Notify that new location data is available for specified devices.</documentation>
			<wsdl:input message="tns:mls_NewDataDeviceNamesSoapIn" />
			<wsdl:output message="tns:mls_NewDataDeviceNamesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="mls_NewDataDeviceRecords">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Notify new location data.</documentation>
			<wsdl:input message="tns:mls_NewDataDeviceRecordsSoapIn" />
			<wsdl:output message="tns:mls_NewDataDeviceRecordsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="oam_ReportError">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Report an error.</documentation>
			<wsdl:input message="tns:oam_ReportErrorSoapIn" />
			<wsdl:output message="tns:oam_ReportErrorSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="oam_ConfirmReconnect">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Report an error.</documentation>
			<wsdl:input message="tns:oam_ConfirmReconnectSoapIn" />
			<wsdl:output message="tns:oam_ConfirmReconnectSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MapServicesSoap" type="tns:MapServicesSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="mls_NewData">
			<soap:operation soapAction="http://schemas.motorola.com/LocationServer/MapServer/mls_NewData" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mls_NewDataDeviceNames">
			<soap:operation soapAction="http://schemas.motorola.com/LocationServer/MapServer/mls_NewDataDeviceNames" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mls_NewDataDeviceRecords">
			<soap:operation soapAction="http://schemas.motorola.com/LocationServer/MapServer/mls_NewDataDeviceRecords" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="oam_ReportError">
			<soap:operation soapAction="http://schemas.motorola.com/LocationServer/MapServer/oam_ReportError" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="oam_ConfirmReconnect">
			<soap:operation soapAction="http://schemas.motorola.com/LocationServer/MapServer/oam_ConfirmReconnect" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MapServices">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">MotoLocator Client Web Service</documentation>
		<wsdl:port name="MapServicesSoap" binding="tns:MapServicesSoap">
			<soap:address location="http://localhost/motolocatorclient/webservices.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>